# Ignore everything in this directory
*
# Except this file
!.gitignore
!archive
!archive/*
!archive/**/*
!static
!static/*
!static/**/*
archive/**/*.swp
archive/**/*.nc
static/**/*.swp
static/**/*.nc
